html {
  scroll-behavior: smooth;
}

body,
html {
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}


.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

